# Import Libraries

In [1]:
# Import used libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Import Dataset

In [2]:
# Import used datasets
raw_details_df = pd.read_csv('https://raw.githubusercontent.com/carneiroRomulo/SeazoneChallenge/main/datasets/details.csv')
raw_priceav_df = pd.read_csv('https://raw.githubusercontent.com/carneiroRomulo/SeazoneChallenge/main/datasets/priceav.csv')

In [3]:
# View the structure of the 'details.csv' dataset
raw_details_df.head()

   Unnamed: 0  airbnb_listing_id  ... is_superhost number_of_reviews
0           0           31389869  ...        False              15.0
1           1           40010667  ...        False               0.0
2           2           38905997  ...         True              13.0
3           3           22343656  ...         True              28.0
4           4           18328184  ...         True              35.0

[5 rows x 9 columns]

In [4]:
# View the structure of the 'priceav.csv' dataset
raw_priceav_df.head()

   Unnamed: 0  Unnamed: 0.1  ...  price_string occupied
0           0          2148  ...         250.0        0
1           1          2159  ...         250.0        0
2           2          2160  ...         250.0        0
3           3          2173  ...         250.0        0
4           4          2226  ...         250.0        0

[5 rows x 7 columns]

# Checking data types & if there is missing data

In [5]:
# View the dtypes of the 'details.csv' dataset
raw_details_df.dtypes

Unnamed: 0               int64
airbnb_listing_id        int64
suburb                  object
ad_name                 object
number_of_bedrooms     float64
number_of_bathrooms    float64
star_rating            float64
is_superhost              bool
number_of_reviews      float64
dtype: object

In [6]:
# View the dtypes of the 'priceav.csv' dataset
raw_priceav_df.dtypes

Unnamed: 0             int64
Unnamed: 0.1           int64
airbnb_listing_id      int64
booked_on             object
date                  object
price_string         float64
occupied               int64
dtype: object

In [88]:
# Checks for relevant NaN values in the 'details.csv' dataset
raw_details_df.isna().sum()

Unnamed: 0                0
airbnb_listing_id         0
suburb                    0
ad_name                   0
number_of_bedrooms      183
number_of_bathrooms       1
star_rating            2121
is_superhost              0
number_of_reviews         7
dtype: int64

In [8]:
# Checks for relevant NaN values in the 'priceav.csv' dataset
raw_priceav_df.isna().sum()

Unnamed: 0           0
Unnamed: 0.1         0
airbnb_listing_id    0
booked_on            0
date                 0
price_string         0
occupied             0
dtype: int64

# 1. Sort neighborhoods in ascending order of number of listings

In [9]:
# Removes variables not needed for analysis
details_df = raw_details_df.drop(columns=['Unnamed: 0', 'ad_name'])
priceav_df = raw_priceav_df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'])

In [10]:
# Checks which and how many are the neighborhoods
details_df['suburb'].value_counts()

Ingleses              2388
Canasvieiras          1177
Jurerê                 539
Lagoa da Conceição     309
Centro                 278
Name: suburb, dtype: int64

In [47]:
# Sorts dataset according to neighborhoods in ascending order
details_df.sort_values(['suburb', 'airbnb_listing_id'], inplace=True)
details_df

      airbnb_listing_id              suburb  ...  is_superhost  number_of_reviews
2063             108658        Canasvieiras  ...         False                0.0
1341             279586        Canasvieiras  ...         False               52.0
3332             333619        Canasvieiras  ...          True               26.0
2717             344879        Canasvieiras  ...          True               26.0
2680             346042        Canasvieiras  ...          True               26.0
...                 ...                 ...  ...           ...                ...
1369           44614390  Lagoa da Conceição  ...         False                0.0
4293           44618139  Lagoa da Conceição  ...         False                0.0
4472           44648260  Lagoa da Conceição  ...         False                0.0
3497           44890132  Lagoa da Conceição  ...         False               17.0
3156           45575044  Lagoa da Conceição  ...          True               14.0

[4691 rows x 7 columns]

# 2. Sort the neighborhoods in ascending order of average listing earnings.

In [100]:
# Selects only occupied IDs
occupied = priceav_df.get(priceav_df['occupied']==1)
occupied['mes'] = occupied['date'].apply(lambda x: str(x)[5:7])
occupied['dia'] = occupied['date'].apply(lambda x: str(x)[:4])
occupied['ano'] = occupied['date'].apply(lambda x: str(x)[8:])
occupied.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

    airbnb_listing_id            booked_on        date  ...  mes   dia ano
12           40206270  2021-01-01 00:00:00  2021-01-01  ...   01  2021  01
13           40206270  2021-01-01 00:00:00  2021-01-02  ...   01  2021  02
52           40206270  2021-02-10 00:00:00  2021-02-10  ...   02  2021  10
53           40206270  2021-02-10 00:00:00  2021-02-11  ...   02  2021  11
54           40206270  2021-02-10 00:00:00  2021-02-12  ...   02  2021  12

[5 rows x 8 columns]

In [101]:
# Calculates average billing per month for ads
billing = occupied.groupby('airbnb_listing_id', as_index=False).price_string.mean().round(2)
billing.rename(columns={'price_string':'average billing'}, inplace=True)
billing

      airbnb_listing_id  average billing
0                108658           371.67
1                128631           636.36
2                279586           245.38
3                317970           622.40
4                333619           161.01
...                 ...              ...
3182           45552847            64.00
3183           45561358           315.19
3184           45563187           410.35
3185           45567371           200.00
3186           45575044           282.73

[3187 rows x 2 columns]

In [102]:
# Combines datasets only with ads that have billing
df = pd.merge(details_df, billing, how='inner')
df.sort_values(['average billing'], inplace=True)
df

      airbnb_listing_id        suburb  ...  number_of_reviews  average billing
2518           42298268      Ingleses  ...                0.0            52.00
415            30964548  Canasvieiras  ...               17.0            57.50
531            37315335  Canasvieiras  ...                0.0            60.00
1598           28729150      Ingleses  ...                9.0            60.00
2528           42382598      Ingleses  ...                0.0            60.00
...                 ...           ...  ...                ...              ...
2371           40892444      Ingleses  ...                0.0          1324.58
2367           40865160      Ingleses  ...                0.0          1387.47
2789           29680715        Jurerê  ...               34.0          1400.00
2670           13397659        Jurerê  ...               44.0          1650.00
2373           40894598      Ingleses  ...                0.0          1946.89

[3187 rows x 8 columns]

# 3. Is there any correlation between the characteristics of an ad and its billing? That are? Explain.

# 4. What is the average advance of reservations? Is this number higher or lower for weekends?